
/*
	site 1: The Solar System
	web1.css
*/


body {
	background-color: black;
	border-style: solid;
	border-color: white;
	border-width: 3px;
	margin-top: 20px;
	height: 890px;
}


.tradeMark {
	position: absolute;
	display: inline-block;
	background-color: black;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-left: 0px;
	width: 200px;
	text-align: center;
	font-style: italic;
	color: violet;
	top: 35px;
	font-size: 30px;	
}


nav {
	position: absolute;
	display: inline-block;
	background-color: gray;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-left: 10px;
	width: 180px;
	text-align: left;
	top: 300px;
	font-size: 30px;
}


main {
	position: absolute;
	display: inline-block;
	background-color: black;
	padding-left: 20px;
	padding-right: 20px;
	height: 860px;
	width: 1645px;
	top: 35px;
	left: 215px;
	/*margin-right: 400px;*/
}

main h1 {
	position: absolute;
	display: inline-block;
	color: white;
	font-size: 3em;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	width: 1645px;
	top: 0px;
}


.leftColumn {
	position: absolute;
	display: inline-block;
	background-color: tan;
	font-size: 20px;
	width: 350px;
	height: 773px;
	top: 8px;
	left: 15px;
	text-align: center;
	padding-top: 70px;
	border-radius: 15px;
}


.centerColumn {
	position: absolute;
	display: inline-block;
	background-color: green;
	width: 780px;
	height: 780px;
	top: 8px;
	left: 375px;
	text-align: center;
	border-radius: 15px;	
}


.centerBottom {
	position: absolute;
	display: inline-block;
	background-color: yellow;
	width: 780px;
	height: 55px;
	top: 796px;
	left: 375px;
	text-align: center;
	border-radius: 15px;
}


.rightColumn {
	position: absolute;
	display: inline-block;
	background-color: royalblue;
	font-size: 20px;
	width: 510px;
	height: 773px;
	top: 8px;
	left: 1165px;
	text-align: center;
	padding-top: 70px;
	border-radius: 15px;
}

.rightColumn h2 {
	color: midnightblue;
	font-style: italic;
}

	